body, html {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}
.DefaultPageImage {
   background-image: url("/Images/background2.jpg");
   filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.MainPageText{
    background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}


.btn {
  background: none;
  border-style: solid;
  border-color: #3c78a6;
  border-width:5px;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  color: #3c78a6;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  margin-left: 40px;
  margin-right: 40px;
  float: center;
}

#quote-container {
  margin-top: 20px;
}

