body, html {
  height: 100%;
  background-color: white;
  margin: 0;
}

* {
  box-sizing: border-box;
}
.header {
    height: 250px;
    width: 100%;
    background-image: url("/Images/header.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
   
}
.header a{
    color: white;
    text-align:right;
    float:right;
    padding: 30px;
    font-family: 'Josefin Sans', serif;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    
}
.header h2{
	font-family: 'Josefin Sans', serif;
    text-transform: uppercase;
    color: white;
    font-size: 40px;
  	text-align: left;
    float: left;
    line-height: 34px;
    height: 35px;
    padding-left: 40px;
}

.header p{
    font-family: 'Josefin Sans', serif;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
     float: left;
  	text-align: left;
    line-height: 34px;
    height: 35px;
    padding-left: 40px;
}

.header a:hover {
    color: #a7c9be;
 	text-decoration-line: underline;
  	text-decoration-style: solid;
  	text-decoration-color: #a7c9be;
}


.column {
  float: left;
  width: 100%;
  margin-top: 15px;
  height: 1500px;

}
.column.left{
  width: 25%;
  padding: 20px;
  background-color: white;
  margin-left:20px;
  margin-right:15px;
  border-style: outset;
  border-color: #a7c9be;
  border-width: 5px;
  text-align: center;
  
}


.column.right{
  width: 70%;
  background-color: white;
}

.column h1 {
    text-align: center;
}

.profile{
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 80px;
}


/* card effect for each blog post */
.card.left {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: #daeff2;
   	padding: 20px;
   	margin-top: 15px;
    
    
}
.card.right {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   background-color: #ceded9;
   padding: 20px;
   margin-top: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.blogimg{
  width: 100%;
  padding: 15px;
  height: auto;
  display: block;
}

#more {
    display: none;
    }

#more1 {
    display: none;
    }

#more2 {
    display: none;
    }


#readmorebtn {
  background-color: #5e5e5d;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}
.tab { 
    text-indent:40px; 
    }

